/* Reset styles */

body {
  font-family: "Merriweather", serif;
  margin: 0;
}

li {
  list-style: none;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3 {
  margin: 0;
}

/* Global styles for classes */

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
